<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Familiares</title>
</head>
<body>
    <h1>LISTA DE FAMILIARES</h1>
    <ul>
        
        {% for familiar in lista_familiares  %}

        <li>tipo: {{familiar.tipo_f}} nombre: {{familiar.nombre}} Apellido: {{familiar.apellido}} edad: {{familiar.edad}} estado: {{familiar.estado_f}}</li>      
        
            
        {% endfor %}
            

    </ul>
</body>
</html>